{% extends './base.html' %}
{% block content %}
<h1 style="text-align: center;" style="color: #d4af37;">こだわり</h1>
<h3 style="text-align: center;" style="color: #d4af37;">大きな金額の支払いは不安だし</h3>
<h3 style="text-align: center;" style="color: #d4af37;">脱毛完了の判断は自分の基準がいいと思うから</h3>
<h2 style="text-align: center;" style="color: #d4af37;">◆都度払い</h2>
<h3 style="text-align: center;" style="color: #d4af37;">痛くないのがいい、早めに脱毛卒業したい、</h3>
<h3 style="text-align: center;" style="color: #d4af37;">人それぞれだと思うから</h3>
<h2 style="text-align: center;" style="color: #d4af37;">◆希望と毛質に合わせてカスタマイズ</h2>
<p style="margin-bottom: 200px;"></p>
<h2 style="text-align: center;">こだわりの商材と機械</h2>
<p style="text-align: center;">脱毛マシンは『season4』。</p>
<p style="text-align: center;">医療脱毛、光脱毛。私自身両方の脱毛を経験し、たくさんのマシンに出会ってきましたが、『SEASON4』は<span class="text-primary">結果が出せる機械。</span></p>
<p style="text-align: center;">美容のプロ集団がこだわりぬいて作った機械なので、脱毛効果は勿論、美肌効果（トーンアップ）、ニキビの鎮静効果、お顔の引き上げ効果もあるのです！</p>
<p style="text-align: center;">脱毛時には、抑毛・鎮静・保湿効果がある万能ローションである『Sモイストローション』を塗布して行います。脱毛後は保湿が大事なので、最後にたっぷり保湿して完了させます。</p>
<p style="margin-bottom: 200px;"></p>


{% endblock %}
