{% extends './base.html' %}
{% block content %}
{% load static %}

<h1 style="text-align: center;" class="fade-up">PRICE LIST</h1>
<h2 style="text-align: left;" class="fade-up">　～＊～PRICE　LIST～＊～　</h2>

<div class="row align-items-center">
    <div class="col-auto">
        <img src="{% static 'belleza/images/S__216858628.jpg' %}" style="width: 500px;" alt="Belleza価格表初回" class="mx-auto d-block img-fluid">
    </div>
    <div class="col">
        <p>□初回は該当部分全て剃毛をしてきてください。</p>
        <p >VIOの一部や背中等届かない部分についてはこちらで剃毛いたします。</p>
        <p style="margin-bottom: 30px;"></p>
        <p >□2回目以降（期間内ご来店に限る）は気になる場合を除いて、剃毛せずにご来店ください。毛質を確認しながらこちらで剃毛します</p>
        <p style="margin-bottom: 30px;"></p>
        <p >□２～３週間周期での来店がベストのため、次回３週間以内（もしくはこちらの指定する期間以内（期間が短くなることはありません）にご来店ください。</p>
        <p style="margin-bottom: 30px;"></p>
    </div>
</div>

<p style="margin-bottom: 100px;"></p>
<h2 style="text-align: left;" class="fade-up">～＊～部位別PRICE　LIST～＊～</h2>


<div class="row align-items-center">
    <div class="col-auto">
        <img src="{% static 'belleza/images/S__216858627.jpg' %}" style="width: 500px;" alt="Belleza価格表部位別" class="mx-auto d-block img-fluid">
    </div>
    <div class="col fade-up">
        <p>□その他、部位別脱毛についてはお問合せください。</p>
    </div>
</div>


<p style="margin-bottom: 100px;"></p>
<h2 style="text-align: center;" class="fade-up">◇支払について◇</h2>
<h3 style="text-align: center;" class="fade-up">各種カード・交通系</h3>
<h3 style="text-align: center;" class="fade-up">IC,PayPay等使用できます</h3>
{% endblock %}
