{% extends './base.html' %}
{% block content %}
<h1 class="fade-up">ご予約・お問い合わせについて</h1>
<h2 class="fade-up" style="transition-delay: 0.3s;">Line:Belleza@582jimaa</h2>
<p class="fade-up" style="transition-delay: 0.3s;">ご予約・お問合せはLINEからお願いいたします。</p>
<p class="fade-up" style="transition-delay: 0.3s;">施術中等はすぐに返信できないこともございますので、ご了承いただけますと幸いです。</p>
<div class="fade-up" style="transition-delay: 0.3s;">
<a href="https://lin.ee/smrKvNt">LINEはこちら</a>
<a href="https://www.instagram.com/bellezza_datsumou321?igsh=Ym05ZzA5MDN6Mnkx&utm_source=qr">Instagramはこちら</a>
</div>
{% endblock %}
