{% extends './base.html' %}
{% block content %}
<h1>Bellezaについて</h1>
<p>Bellezzaのページを見つけてくださりありがとうございます！</p>
<p></p>
<p>当店はさいたま市にある、ご予約時に場所をお伝えする個人脱毛サロンです。</p>
<p>いつまでも通い続けるのではなく、結果の出る終わりが見える脱毛サロンにしたいと思いで始めました！</p>
<p style="line-height: 1.0;">初回は脱毛個所の剃毛をお願いしておりますが、２回目以降（効果をしっかり出すため３週間～１か月以内）に来店していただけるお客様は<span class="text-primary">剃毛せず</span>に来ていただいております。</p>
<p>生えてきた毛質によって、出力や脱毛方式を変えていくためです。</p>
<p style="line-height: 2.0;">脱毛を決意されたいま、是非下記徹底を(*^^*)</p>
<p style="line-height: 0.4;"><span class="text-primary">・脱毛すると決めたら周期的に通う！</span></p>
<p><span class="text-primary">・生えてきた毛質をきちんと見て、その毛にあった強さや脱毛方法で！</span></p>
<p style="margin-bottom: 200px;"></p>
<p>せっかく脱毛しようと決意していただいたからには結果をだしたいので、周期的に施術できるようできる限り予定を合わせながら日程調整しますので、終わりの見える効果のあるBellezza脱毛を是非体感してほしい！です。</p>
<p style="margin-bottom: 100px;"></p>
<p>ご紹介や、こちらのページをみつけていただいたお客様のみで。</p>
<p>次回の予約がきちんととれる範囲で運営してまいります。</p>
<p style="margin-bottom: 100px;"></p>
<p class="text-decoration-underline">Bellezzaは、学生・トレーニング男子・トップ営業マン・士師業の男性など、幅広い美意識の高い男性に多数ご来店いただいており、<span class="text-primary">男性の全身脱毛も得意</span>としております！</p>
<p class="text-decoration-underline">ただ、<span class="text-primary">男性はご紹介制のみ</span>となっております。ご縁がありましたら是非よろしくお願いします！</p>


{% endblock %}
